<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main.MainClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AssignedId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>outstanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>listed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rfsuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Paid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Otp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>signup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Fail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
