<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Fail()[pri:6, instance:main.MainClass@38467116]">Fail</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:57</td>   <td>2835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Otp()[pri:7, instance:main.MainClass@38467116]">Otp</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:47:12</td>   <td>17344</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@38467116]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:47:02</td>   <td>7646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.listed()[pri:8, instance:main.MainClass@38467116]">listed</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:41</td>   <td>-13597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.outstanding()[pri:4, instance:main.MainClass@38467116]">outstanding</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:34</td>   <td>-19821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.AssignedId()[pri:2, instance:main.MainClass@38467116]">AssignedId</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:43</td>   <td>-10839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.rfsuccess()[pri:5, instance:main.MainClass@38467116]">rfsuccess</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:26</td>   <td>-28400</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@38467116]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:30</td>   <td>-24311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Login()[pri:1, instance:main.MainClass@38467116]">Login</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:47:07</td>   <td>12523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.signup()[pri:9, instance:main.MainClass@38467116]">signup</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>22/04/27 09:46:38</td>   <td>-16553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Paid()[pri:3, instance:main.MainClass@38467116]">Paid</td> 
  <td>main@366252104</td>   <td></td> </tr>
</table>
